body {
  font-family: Arial, sans-serif;
  background-color: #3c3c3c;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.search-container {
  text-align: center;
  margin-top: 50px;
  position: relative;
}

input[type="text"], input[type="number"], select {
  width: 300px;
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

#suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.suggestion-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.suggestion-item img {
  height: 50px;
  margin-right: 10px;
}

.suggestion-item span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

#results {
  margin-top: 20px;
  font-size: 18px;
}

#embed-container {
  margin-top: 20px;
}

#tv-show-options {
  display: none;
}

#adblock-warning {
  background-color: #ffcc00;
  color: black;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  text-align: center;
  border-radius: 10px;
  position: relative;
  margin-top: 20px;
}

#adblock-warning strong {
  font-size: 24px;
  color: red;
}

#adblock-warning a {
  color: blue;
  text-decoration: underline;
}

#adblock-warning button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#adblock-warning button:hover {
  background-color: darkred;
}
